.CocktailListNav{
    list-style: none;
    display: flex;
    flex-direction: row;
    min-width: 10vh;
    text-align: center;
}

.CocktailListNav li{
    padding: 10px 15px;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.CocktailListNav li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}